<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Course Content
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item detail="false" href="https://www.ionicframework.com">
    <ion-label>
      Anchor Item with no Detail Arrow
    </ion-label>
  </ion-item> -->

  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider>
      <ion-label>
        1. Introduction to Python
      </ion-label>
    </ion-item-divider>

    <ion-item detail="false" href="#">
      <ion-label>
        <h5>a. What is python</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>b. Python use cases</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>c. Birth of Python and its timeline</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>d. Features</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>e.	Versions</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>f.	Python Virtual Machine (PVM)</h5>
      </ion-label>
    </ion-item>


    <ion-item-divider>
      <ion-label>
        2.	Introduction to script
      </ion-label>
    </ion-item-divider>

    <ion-item detail="false" href="#">
      <ion-label>
        <h5>a.	What is script</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>b.	What is program</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>c.	Types of script</h5>
      </ion-label>
    </ion-item>
    <ion-item detail="false" href="#">
      <ion-label>
        <h5>d.	Types of programming  language</h5>
      </ion-label>
    </ion-item>
    
    <ion-item-divider>
      <ion-label>
        3.	Environment set up
      </ion-label>
    </ion-item-divider>

    <ion-item detail="false" href="#">
      <ion-label>
        <h5>a.	Environment set up</h5>
      </ion-label>
    </ion-item>
 
    <ion-item-divider>
      <ion-label>
        4.	Writing first program in Python
      </ion-label>
    </ion-item-divider>

    <ion-item detail="false" href="#">
      <ion-label>
        <h5>a.	Writing first program in Python</h5>
      </ion-label>
    </ion-item>    
    <ion-item-divider>
      <ion-label>
        5.	Basics
      </ion-label>
    </ion-item-divider>
    
	<ion-item detail="false" href="#">
      <ion-label>
        <h5>a.	Keywords </h5>
      </ion-label>
    </ion-item>
	<ion-item detail="false" href="#">
      <ion-label>
        <h5>b.	Variables</h5>
      </ion-label>
    </ion-item>
	<ion-item detail="false" href="#">
      <ion-label>
        <h5>c.	Naming conventions.</h5>
      </ion-label>
    </ion-item>
   
  </ion-list>
</ion-content>
